.recover-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(128, 128, 128, 0.178);
    font-family: "Roboto", sans-serif;
}

.card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
    padding: 2rem;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.card h2 {
    margin-bottom: 0.5rem;
}

.card p {
    color: #6c757d;
    margin-bottom: 1.5rem;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.input-group {
    display: flex;
    align-items: center;
    background-color: #f1f3f5;
    border-radius: 5px;
    padding: 0.5rem;
    margin-bottom: 1rem;
  }

.input-group input {
    border: none;
    background: transparent;
    outline: none;
    flex: 1;
  }

  .recover-button {
    background-color: #1c1c1c;
    color: white;
    padding: 0.75rem;
    width: 100%;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
  }

  .recover-button:hover {
    background-color: #000;
  }