<div class="container">
  <form class="form" (ngSubmit)="login()">
    <h1 class="tittle">Fazer Login</h1>
    <div>
      <label for="email">Email:</label>
      <input
        type="email"
        id="email"
        [(ngModel)]="email"
        required
        [ngModelOptions]="{ standalone: true }"
      />
    </div>
    <div>
      <label for="password">Senha :</label>
      <input
        type="password"
        id="password"
        [(ngModel)]="password"
        [ngModelOptions]="{ standalone: true }"
      />
    </div>
    <button type="submit">Enviar</button>
    <a (click)="recuperar()">Esqueci a senha</a>
    <a (click)="cadastrar()">Criar Conta</a>
  </form>
</div>
